<!DOCTYPE html>
<html ng-app="Mi-primer-APP-AngularJS">
<head>
	<meta charset="UTF-8">
	<title>Pruebas y Test curso AngularJS</title>

	<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="nombreControlador">
	
	<center>
		
		<h1>{{titulo}}</h1> <br>
<!--
		<label for="">Comentario</label><br>
		<input type="text" width="100" ng-model="nuevoComentario.comentario"><br>
		<label for="">Usuario</label><br>
		<input type="text" ng-model="nuevoComentario.usuario"><br><br>
		<button type="button" class="btn btn-primary" ng-click="agregarComentario()">Agregar</button><br><br>
		
-->
		<h3>{{ subtitulo }}</h3>

		<div class="card text-white bg-dark mb-3" style="max-width: 60rem;" ng-repeat="post in posts">
	        <div class="card-header">Calvin</div>
	        <div class="card-body">
	          <h4 class="card-title">{{post.title}}</h4>
	          <p class="card-text"><b> {{ post.body }}.</p>
	        </div>
	    </div>

		

			

	</center>


</body>
</html>